<!DOCTYPE html>
<html>

<head>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
    </link>
</head>

<body>
    <header>
        <h1>{{ data.title }}</h1>
        <div>
            <span>{{ data.points }} points | </span>
            <span>By {{ data.author }} | </span>
            <span><a href={{ data.url }} target="_blank">{{ data.url }}</a></span>
        </div>
    </header>
    <main>
        {% if error %}
        <h2 style="text-align: center;">
            <strong>
                {{ error }}
            </strong>
        </h2>
        {% else %}
        {% for comment in data.children %}
        <div>
            {% if comment.author %}
            <strong>{{ comment.author }}</strong>
            {{ comment.text|safe }}
            {% else %}
            <div>[deleted]</div>
            {% endif %}
        </div>
        <hr />
        {% endfor %}
        {% endif %}
    </main>
</body>

</html>